body {
    font-family: 'Roboto', sans-serif;
}

input {
    text-align: center;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid gray;
    margin-bottom: 10px;
    font-size: 18px;
}

button {
    color: #ffffff;
    width: 300px;
    height: 40px;
    background-color: #448aff;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

.main {
    margin-top: 50px;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

::-webkit-input-placeholder {
    text-align: center;
    font-size: 18px;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
    font-size: 18px;
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
    font-size: 18px;
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
    font-size: 18px;
 }